[Unit]
Description=consul template reloader
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=64000
PermissionsStartOnly=true
ExecStart=/bin/consul-template -syslog -wait 60s:600s -config=/etc/consul-template/minio-config.hcl
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target