[Unit]
Description=openresty template reloader
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=64000
PermissionsStartOnly=true
ExecStart=/bin/consul-template -syslog -wait 5s -config=/etc/consul-template/or-config.hcl
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

RestartSec=10
OOMScoreAdjust=-1000
Restart=always

[Install]
WantedBy=multi-user.target